.btn-labeled-left {
    padding-left: 3.12506rem;
    position: relative;
}
.btn-labeled-left>b {
    left: -1px;
    border-top-left-radius: .1875rem;
    border-bottom-left-radius: .1875rem;
}
.btn-labeled>b {
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    height: 100%;
    line-height: 1;
    padding: .62503rem;
}
.btn-labeled>b>i {
    top: 0;
}


.profile-image {
    margin-right: 1.5rem !important;
    flex-shrink: 0 !important;
    border-radius: 5px !important;
    min-width: 40px;
    min-height: 40px;
    max-width: 170px;
    max-height: 170px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.profile-image--img {
    width: 100%;
    max-width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image-control {
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    transition: all 0.1s;
}
.profile-image-control-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0,0,0,.3);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}
.profile-image-control-item:hover {
    background-color: rgba(0,0,0,.7);
}
.profile-image-control-item svg {
    height: 20px !important;
    width: 20px !important;
}

.profile-image:hover .profile-image-control {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .profile-image {
        min-width: 40px;
        min-height: 40px;
        max-width: 170px;
        max-height: 170px;
        margin: 0 auto !important;
    }
}
